Best data visualization for ListField in ModelAdmin

#### The problem
We could improve ListField data visualization in ModelAdmin. At the moment a list represented as a string seems too raw and crude for final users.

#### Proposed solution
Older PR https://github.com/django-ldapdb/django-ldapdb/pull/152 purpose a brand new field. 
Discussion began about data consistency if any of the submitted values could present a newline character as payload. My purpose was to let the admin user choose witch Field to use depending on value to be filled in. Example: email accounts should not have newline in them, this is mandatory.

#### Extra notes
Probably we think that ListField should be the default Field for multi value data and a ModelAdmin form could represent data in a more fancy way and, at the same time, saving them as List overriding save_model.



Just an unrelated side note: You're very lucky e-mail addresses cannot contain new lines. They can contain tons of other unexpected stuff :D: https://twitter.com/errbufferoverfl/status/1019766775561445376

unfortunately I think we are reaching positions that are too rigid and therefore unsuccessful. I believe that just because the RFC does not handle these "exceptions" does not mean that these emails can really exist and that they can be considered valid. Be careful, a rigid mind is not able to overcome the rule, even in front of the evidence of reality, we should move with more agility between rules and user needs

The RFC *does* handle these “exceptions” - because they are no exceptions. The RFC *explicitly states that these addresses are valid*.

In any case: It is not necessary that any default UI actually can accept or handle such things - but it was not *break* anything explicitly allowed.

I read the followings RFC to understand more in the deep the problem of newline char in email addresses values:

- RFC 3696
- RFC 5321
- RFC 5322
- RFC 5630

I can say that "\n" is not valid in email addresses, I hope that you'll can confirm this too. 

Regarding our preoccupations about the possibility to break existing data is there any purpose to follow the main goal of this issue?

My purpose is, regarding my personal solution: let the admin choose the field to be used. 

Another way, and probably better, could be: we could develop an html widget to handle a json list like a stack of input field, as many input field as the number of the list items, with the possibility to remove some, add and new ones.

>I read the followings RFC to understand more in the deep the problem of
>newline char in email addresses values:
>
>- RFC 3696
>- RFC 5321
>- RFC 5322
>- RFC 5630
>
>I can say that "\n" is not valid in email addresses, I hope that you'll
>can confirm this too. 

Obviously I can't, as it's explicitly allowed inside comments (see the FWS character class).

>Another way, and probably better, could be: we could develop an html
>widget to handle a json list like a stack of input field, as many input
>field as the number of the list items, with the possibility to remove,
>add and edit some.

That sounds better, yeah.


I think that an good out-of-the-box implementation could be done using a JSON widget as:
https://github.com/abogushov/django-admin-json-editor

````
@admin.register(JSONModel)
class JSONModelAdmin(admin.ModelAdmin):
    def get_form(self, request, obj=None, **kwargs):
        widget = JSONEditorWidget(dynamic_schema, False)
        form = super().get_form(request, obj, widgets={'tags': widget}, **kwargs)
        return form
````

We could also get all the ListField fields from model and put them in widgets kwargs.
It should work with minor changes in https://github.com/abogushov/django-admin-json-editor/blob/master/django_admin_json_editor/admin.py

I've been thinking a bit about those kind of fields; an option I'm thinking about would be to have some form of a composite field:

```python
class User(ldapdb.models.Model):
    email = ldapdb.models.MultiField(inner=ldapdb.models.EmailField, verbose_name=_("email"), db_column='email')
```

This would allow us to properly validate / convert / parse each inner value.
We'd still have to build a consistent admin widget for those, but I hope some Django apps already provide this kind of widget — or we'd have to take a look at the widgets used for a many-to-many relationship.

I tried to use again ListField, with the latest PR merged.
After saving an instance from Admin UI data I get values in this way:

![selezione_358](https://user-images.githubusercontent.com/1297620/44522991-9f444b80-a6d8-11e8-9e0d-1ed3d2564350.png)

Django 2.0 with last django-ldapdb DEV 

This is a ListField with a Widget to represent List as a stack of input field

![selezione_366](https://user-images.githubusercontent.com/1297620/45307046-55ec5c80-b51e-11e8-82aa-246aebd8e50a.png)


Sorry for the late, I'm working on this with time windows of almost 20 days.

![selezione_380](https://user-images.githubusercontent.com/1297620/45828977-2269b900-bcfa-11e8-9bec-cb351585e963.png)

I coded a full working widget that works with ldapdb model ListField.
Now I would introduce standard validators per field. I have to clean the code and do some refactor.
Hope you will enjoy

Hi guys, I'm considering to create a separate app called django-ldapdb-manager as an implementation of a OU manager with ppolicy support, if you agree.

I coded that widget previosly represented in the picture and also a custom form also called ListField to manage has_changed methods. This resolved to me this:

https://github.com/django-ldapdb/django-ldapdb/issues/178

To get all the things works fine I also modified models.ListField this way:
````
class ListField(LdapFieldMixin, fields.Field):
    binary_field = False
    multi_valued_field = True

    def from_ldap(self, value, connection):
        v = sorted([x.decode(connection.charset) for x in value])
        return v
````
I found that Django 2.0 needs binary_field = False and also from_ldap method to manage the values correctly through a ModelAdmin interface.

I would also like to purpose a PR in this Repo with all these customizations if it make sense to you, for a better UI experience. The final release also implement json and ldif import/export:

![selezione_390](https://user-images.githubusercontent.com/1297620/46535432-abacee00-c8ab-11e8-9300-a2868daff2ad.png)



this is it :)

https://github.com/peppelinux/django-ldap-academia-ou-manager